@import "../../scss/_ticket";
body{
  margin:0;
  padding: 0;
}
.ticketModal{
  z-index: 9999;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.content{
  position: relative;
  margin: 0 auto;
  height:315px;
  width: 300px;
  outline: 5px solid black;
  outline-offset: -6px;
  background: white;
  opacity: 1;
}
.img{
  text-align: center;
  height: 45px;
  padding:7px;
  img{
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    width: 120px;
  }
}
.orgName{
  h5{
    font-size: 14px;
    margin: 5px;
  }
}
.ticket{
  h5{
    margin:5px;
    font-size: 60px;
  }
}
.serviceName{
  p{
    margin:1px;
  }
  h5{
    margin: 3px;
  }
}
.date{
  font-size: 20px;
  h5{
    margin:3
  }
}
.animate{
  transition: 1s linear;
}