.select{
 width: 100%;
  position: relative;
 input {
   height: 25px;
   padding: 10px 0px 11px;
   width: 100%;
  }
}
.dropdown{
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px;
  margin: 5px auto;
  overflow: scroll;
  max-height: 150px;
  z-index: 9999;
  width: 100%;
  li{
    list-style-type: none;
    margin: 5px;
    width: 100%;
    text-align: left;
    &:hover{
      cursor: pointer;
      background-color: rgba(171, 164, 164, 0.3);
    }
  }
}
.hide{
  display: none;
}
.active{
  background-color: rgba(36, 98, 250, 0.1);
}