body{
  font-family: Arial;
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wrapper{
  display: flex;
}
.wrapperRight{
  display: flex;
  flex: 0 0 50%;
  padding: 25px 50px;
  flex-direction: column;
  align-items: flex-start;
}
.wrapperLeft{
  flex: 0 0 50%;
  //flex-direction: column;
}
.name{
  color: #ffffff;
  font-weight: 900;
  font-size: 60px;
  line-height: 1em;
  width: 20%;
  //display: flex;
  //margin: 25px;
}
.dates{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 54px;
  font-weight: 700;
  .date{
    color:#ffffff;
  }
  .time{
    color:#ffffff;
  }
}
.ticket{
  border-radius: 10px;
  border:1px solid #ffffff;
  margin: 10px;
  height: 80px;
  width: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s all;
  .number,.cabinet{
    color:#ffffff;
    font-size: 33px;
    font-weight: 800;
  }
  .number{
    //height: 90%;
    border-right: 1px solid #ffffff;
    display: flex;
    line-height: 2em;
    padding: 5px;
    margin-left: 10px;
    width: 25%;
  }
}
.active{
  background: linear-gradient(351deg,rgb(99,131,0) 0%,rgb(176,219,0) 100%);
}
.ticketContainer{
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
}
//.ticketMain{
// width: 70%;
//}

@media screen and (max-width: 1720px) {
  .ticketMain{
    width:calc(100% - 150px);
  }
}